.hidden-burger {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.05);
    /* Almost invisible */
    cursor: pointer;
    z-index: 50;
    transition: 0.3s;
}

[data-theme='dark'] .hidden-burger {
    color: rgba(255, 255, 255, 0.03);
}

.hidden-burger:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

.hidden-burger.found {
    color: var(--secondary-color);
    transform: scale(2);
    opacity: 0;
    pointer-events: none;
}

.promo-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
}

.promo-content {
    background: var(--bg-color);
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 50px rgba(241, 180, 23, 0.3);
    color: var(--text-color);
}

.promo-code {
    font-size: 40px;
    font-weight: 900;
    color: var(--primary-color);
    margin: 20px 0;
    padding: 10px 30px;
    border: 3px dashed var(--primary-color);
    display: inline-block;
    letter-spacing: 5px;
}

.promo-content button {
    display: block;
    margin: 30px auto 0;
    padding: 12px 40px;
    background: #111;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}