.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
}

.cursor-ring {
    position: fixed;
    top: -7px;
    left: -7px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
}

/* Hide cursor on small screens if desired */
@media (max-width: 900px) {

    .cursor-dot,
    .cursor-ring {
        display: none;
    }
}